%div(ng-controller='AuthorsCtrl')
  %form.form-horizontal(ng-submit='createAuthor()' ng-show='showForm' role='form')
    .row
      .col-md-6
        .form-group
          %label.col-lg-2.control-label(for='title') Titre
          .col-lg-10
            %input.form-control(id='title' type='text' ng-model='book.title' required)

  = render 'books/author'