#editModal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(aria-hidden="true" data-dismiss="modal" type="button" ng-click="edit=false") &times;
        %h3.modal-title Ventes et modifications
      .modal-body.well.well-lg
        %form.form-horizontal(ng-submit='addSale()' role='form' ng-if='currentBook.buy || currentBook.deposit')
          %h4 Ajouter une vente
          .row
            .col-md-6
              .form-group(ng-if='currentBook.buy')
                %label.col-lg-2.control-label(for='buy_quantity') Qté achat ferme
                .col-lg-10
                  %input.form-control(id='buy_qantity' type='number' min="0" max="{{currentBook.buy}}" ng-model='currentSale.buy_quantity' ng-change='setSalePrice()')

              .form-group(ng-if='currentBook.deposit')
                %label.col-lg-2.control-label(for='deposit_quantity') Qté en dépot
                .col-lg-10
                  %input.form-control(id='deposit_qantity' min="0" max="{{currentBook.deposit}}" type='number' ng-model='currentSale.deposit_quantity' ng-change='setSalePrice()')

            .col-md-6
              .form-group
                %label.col-lg-2.control-label(for='sale_price') Total
                .col-lg-10
                  %input.form-control(id='sale_price' type='text' ng-model='currentSale.price')

              .form-group
                .col-lg-2
                .col-lg-10
                  %button.btn.btn-primary(type='submit') Enregistrer

          %hr

        %form.form-horizontal(ng-submit='updateBook()' role='form')
          %h4 Modifier
          .row
            .col-md-6
              .form-group
                %label.col-lg-2.control-label(for='title') Titre
                .col-lg-10
                  %input.form-control(id='title' type='text' ng-model='currentBook.title' required)

              .form-group
                %label.col-lg-2.control-label(for='isbn') ISBN
                .col-lg-10
                  %input.form-control(type='text' id='isbn' ng-model='currentBook.isbn')

              .form-group
                %label.col-lg-2.control-label(for='distributor')
                  Distributeur
                .col-lg-10
                  .input-group
                    %select.form-control(ng-model='currentBook.distributor_id' ng-options='distributor.id as distributor.name for distributor in distributors' id='distributor')
                    %span.input-group-btn
                      %button.btn.btn-default(type='button' data-display="distributorBox" title="Créer un nouveau distributeur") +

              .form-group
                %label.col-lg-2.control-label(for='publisher')
                  Éditeur
                .col-lg-10
                  .input-group
                    %select.form-control(ng-model='currentBook.publisher_id' ng-options='publisher.id as publisher.name for publisher in publishers' id='publisher')
                    %span.input-group-btn
                      %a.btn.btn-default(href="#" data-display="publisherBox" title="Créer un nouvel éditeur") +

              .form-group(ng-show='currentBook.publisher_id')
                %label.col-lg-2.control-label(for='collection')
                  Collection
                .col-lg-10
                  .input-group
                    %select.form-control(ng-model='currentBook.collection_id' ng-options='collection.id as collection.name for collection in currentBook.publisher.collections' id='collection')
                    %span.input-group-btn
                      %button.btn.btn-default(type='button' data-display="collectionBox" title="Créer une nouvelle collection") +

              .form-group
                %label.col-lg-2.control-label(for='author')
                  Auteurs
                .col-lg-10
                  .input-group
                    %select.form-control(ng-model="currentBook.author_ids" data-placeholder="Choisissez un auteur" multiple id="author")
                      %option(value="")
                      %option(ng-repeat="author in authors" value="{{author.id}}") {{ author.lastname }} {{ author.firstname }}
                    %span.input-group-btn
                      %a.btn.btn-default(href="#" data-display="authorBox" title="Créer un nouvel auteur") +

            .col-md-6

              .form-group
                %label.col-lg-2.control-label(for='price') Prix
                .col-lg-10
                  %input.form-control(id='price' type='text' ng-model='currentBook.price')

              .form-group
                %label.col-lg-2.control-label(for='buy') Qté achat ferme
                .col-lg-10
                  %input.form-control(id='buy' type='number' ng-model='currentBook.buy')

              .form-group
                %label.col-lg-2.control-label(for='deposit') Qté en dépot
                .col-lg-10
                  %input.form-control(id='deposit' type='number' ng-model='currentBook.deposit')

              .form-group
                %label.col-lg-2.control-label(for='tag')
                  Catégories
                .col-lg-10
                  .input-group
                    %select.form-control(ng-model="currentBook.tag_ids" data-placeholder="Choisissez une catégorie" multiple id='tag')
                      %option(value="")
                      %option(ng-repeat="tag in tags" value="{{tag.id}}") {{ tag.name}}
                    %span.input-group-btn
                      %a.btn.btn-default(href="#" data-display="tagBox" title="Créer une nouvelle catégorie") +

              .form-group
                %label.col-lg-2.control-label(for='summary')
                  Résumé
                .col-lg-10
                  %textarea.form-control(ng-model='currentBook.summary' id='summary')
          .row
            .col-md-8.update
              .btn.btn-danger.del(ng-click='deleteBook()') Supprimer
            .col-md-2.update  
              %button.btn.btn-default(data-dismiss="modal" type="button" ng-click="edit=false") Annuler
            .col-md-2.update
              %button.btn.btn-primary{:type => "submit"} Enregistrer
