%div(ng-controller='BooksCtrl')
  %form.form-horizontal(ng-submit='createBook()' ng-show='showForm' role='form')
    .row
      .col-md-6
        .form-group
          %label.col-lg-2.control-label(for='title') Titre
          .col-lg-10
            %input.form-control(id='title' type='text' ng-model='book.title' required)

        .form-group
          %label.col-lg-2.control-label(for='isbn') ISBN
          .col-lg-10
            %input.form-control(type='text' id='isbn' ng-model='book.isbn')

        .form-group
          %label.col-lg-2.control-label(for='pusblisher')
            Éditeur
          .col-lg-10
            .input-group
              %select.form-control(ng-model='book.publisher_id' ng-options='publisher.id as publisher.name for publisher in publisher' id='publisher')
              %span.input-group-btn
                %button.btn.btn-default(type='button' ng-click='addPublisher()') +

        .form-group
          %label.col-lg-2.control-label(for='collection')
            Collection
          .col-lg-10
            .input-group
              %select.form-control(ng-model='book.collection_id' ng-options='collection.id as collection.name for collection in publisher.collections' id='collection')
              %span.input-group-btn
                %button.btn.btn-default(type='button' ng-click='addCollection()') +

        .form-group
          %label.col-lg-2.control-label(for='author')
            Auteurs
          .col-lg-10
            .input-group
              %select.form-control(ui-select2="select2Options" ng-model="book.authors" data-placeholder="Choisissez un auteur")
                %option(value="")
                / %option(ng-repeat="author in authors" value="{{author.name}}")
              %span.input-group-btn
                %button.btn.btn-default(type='button' ng-click='addAuthor()') +
      .col-md-6
        .form-group
          %label.col-lg-2.control-label(for='resume')
            Résumé
          .col-lg-10
            %textarea.form-control(ng-model='book.resume' id='resume')


  %button.btn.btn-default(ng-click='showForm=!showForm' ng-hide='showForm') Nouveau livre
  %button.btn.btn-default(ng-click='showForm=!showForm' ng-show='showForm') Annuler
  
  = render 'author'

  .grid(ng-grid="gridOptions")

